@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.nav-bar{
  text-align:center;
  background-color:#ecf8f8ff;
  padding:10px;
}
.logo-image{
  width: auto;
  height:175px;
}
.nav-bar-options{
  display:flex;
  list-style: none;
  justify-content: space-around;
  
}

a {
  color: #e0aaffff;
  text-decoration: none;
  
}

.above-the-fold{
  display: flex;
   background-color:#f2b5d4ff;
}
.abc{
  width:200%;
  display: inline;

}
.des{
  display: inline-block;
  font-size:50px;
  text-align:center;
  color:white;
  
}
/*
<div class="above-the-fold">
         <img class ="abc" src="https://media.giphy.com/media/U7gI2s1ESuU1Yt4tFZ/giphy.gif">
         <p class="des">HER STEM STORY is a website highlighting women who have made an impact on their area of STEM. Click the category for the type of women you want to see.</p>
      </div>

*/
/*
 <div class="below-the-fold">
      <h2 class="sentence">
         All these women are
      </h2>
      <div class="tiktok">
      <div class="slidingVertical">
         <span>Amazing.</span>
         <span>Beautiful.</span>
         <span>Inspiring.</span>
         <span>Empowering.</span>
         <span>Techsetters.</span>
      </div>
      </div>
*/
.below-the-fold{
  text-align:center;
}
.tiktok{
  background-color: #ecf8f8ff;
  text-align:center;
}
.sentence{
  font-size:60px;
  font-weight:bold;
}
.slidingVertical{
	display: inline-block;
  width: 200px;
  flex-direction: column;
	text-indent: 8px;
  position: relative;
  padding-top:60px;
  font-size:90px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
  position: absolute;
  text-align:center;
 top: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

footer{
  background-color:#e0aaffff;
  color:white;
  text-align:center;
  padding: 15px;
}
