@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.nav-bar{
  text-align:center;
  background-color:#ecf8f8ff;
  padding:10px;
}
a {
  color: #e0aaffff;
  text-decoration: none;
  
}

.logo-image{
  width: auto;
  height:175px;
}
.nav-bar-options{
  display:flex;
  list-style: none;
  justify-content: space-around;
}
/* .below-the-fold{  
} */
.M{
  font-size:200px;
  
  padding-right: 75px;
}
.A {
  font-size: 200px;
  padding-right: 45px;
}

.T{
  font-size: 200px;
  padding-right: 75px;
}

.H {
  font-size: 200px;
  padding-right: 40px
}
.mletter,.aletter,.tletter,.hletter{
   flex-wrap:row-wrap;
   displa
  y:flex;
}
.bax{
  border:solid;
  border-color:#ffcce1;
  background:#afd275;
  padding:70px;
  text-align:center;
  align-self: center;
  width:100%;
  
  margin:40px;
  
}
.facepics{
  border-radius:50%;
  height:130px;
  width:auto;
  object-fit:fill;
}
footer{
  background-color:#e0aaffff;
  color:white;
  text-align:center;
  padding: 15px;
}
