@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.nav-bar{
  text-align:center;
  background-color:#ecf8f8ff;
  padding:10px;
}
a {
  color: #e0aaffff;
  text-decoration: none;
}

.logo-image{
  width: auto;
  height:175px;
}

.nav-bar-options{
  display:flex;
  list-style: none;
  justify-content: space-around;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: white; 
}

.below-the-fold{
  background-color:white;
}

.logo-image{
  width: auto;
  height:175px;
}

.nav-bar-options{
  display:flex;
  list-style: none;
  justify-content: space-around;
}

.S,.C,.I,.E,.N{
  font-size:200px;
  color: black;
  border-radius: 25px;
}

.S{
  float: left;
  padding-right: 75px;
}

.C{
  float: left;
  padding-right: 45px;
}

.I{
  float: left;
  /* padding-right:  */
}

.E{
  float: left;
  /* padding-righ */
}

.sletter,.cletter,.iletter,.eletter,.nletter{
  flex-wrap:row-wrap;
  display:flex;
  
}

.bax{
  border:solid;
  border-color: #ffcce1; 
  background: #afd275;
  padding:40px;
  text-align:center;
  align-self: center;
  width: 400px;
  height: 470px;
  margin: 50px;
  border-radius: 25px;
}

.facepics{
  border-radius:50%;
  height: 130px;
  width:auto;
  image:fill; 
}

footer{
  background-color:#e0aaffff;
  color:white;
  text-align:center;
  padding: 15px;
}