@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.nav-bar{
  text-align:center;
  background-color:#ecf8f8ff;
  padding:10px;
}

a {
  color: #e0aaffff;
  text-decoration: none;
  
}

.logo-image{
  width: auto;
  height:175px;
}
.nav-bar-options{
  display:flex;
  list-style: none;
  justify-content: space-around;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color:white;
}
.below-the-fold{
  background-color:white;
}
.logo-image{
  width: auto;
  height:175px;
}
.nav-bar-options{
  display:flex;
  list-style: none;
  justify-content: space-around;
}

.T,.E,.C,.H {
  font-size:200px;
  color:black;
}
.tletter,.eletter,.cletter,.hletter,bax{
   flex-wrap:row-wrap;
   display:flex;
}
.bax{
  border:solid;
  border-color:#ffcce1;
  background:#afd275;
  padding:70px;
  text-align:center;
  align-self: center;
  width:700px;
  height:420px;
  margin:40px;
  border-radius: 25px;
}
.facepics{
  border-radius:50%;
  height:130px;
  width:auto;
  image:fill;
}
footer{
  background-color:#e0aaffff;
  color:white;
  text-align:center;
  padding: 15px;
}